.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #72a4dc;
    color: #ffffff;
    font-size: 1.3rem;
}

.header-title {
    flex-grow: 1;
    text-align: left;
    margin-left: 30px;
}


@media (max-width: 1000px) {
    .header {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .header {
        font-size: 1rem;
    }
}