.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #72a4dc;
    color: #fff;
    font-size: 2rem;
}

.header-title {
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
}

.logo {
    margin-right: 20px;
    margin-left: 20px;
}

@media (max-width: 1000px) {
    .header {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .header {
        font-size: 1rem;
    }
}