/* styles/Main.css */

body {
    background-color: #dfdfe8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    padding: 8px;
}

.weather-container {
    display: flex;
    justify-content: space-between;
}

.weather-display {
    /* Стили для блока с текущей погодой в городе */
}

.geolocation-info {
    /* Стили для блока с погодой по местоположению */
}

@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
        display: grid;
        margin: 0 auto;
        padding: 20px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 768px;
    }
    .weather-container {
        display: grid;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 480px;
    }
}
