/* styles/Main.css */

body {
    background-color: #dfdfe8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    padding: 8px;
}

.weather-container {
    display: flex;
    justify-content: space-between;
}

.weather-display {
}


.geolocation-info {
    font-size: large;
}

.input-wrapper {
    position: relative;
    width: 200px;
    margin-bottom: 10px;
}

.input-wrapper input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-wrapper input::placeholder {
    color: #aaa;
}

.input-wrapper input:focus::placeholder {
    color: #555;
}

.input-wrapper input:focus {
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
        display: grid;
        margin: 0 auto;
        padding: 20px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 768px;
    }
    .weather-container {
        display: grid;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 480px;
    }
    .header-time {
        text-align: right;
        margin-right: 20px;
    }
}
